html , body , #root{
  width: 100%;
  height: 100%;
}
.header {
  position: fixed;
  width: 100%;
  height: 84px;
  background: #003a70;
  color: #FFF;
  z-index: 10;

}
.h-icon{
  float: left;
  margin-left: 20px;
}
.h-image-icon
{
  width: 186px;
  height: 81px;
  background-size: 0px -15px;
  background-repeat: no-repeat;
}
.s-bar
{
  float: left;
  margin:24px 0px 24px 80px;
  max-width: 364px;
  width: 100%;
}
.in-search
{
  margin: 0;
  height: 36px;
  border-width: 1px;
  border-color: #c8ccd0;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: none;
  color: #3b4045;
  padding-left: 8px;
  vertical-align: middle;
  box-sizing: border-box;
}
.rightContent
{
  float: right;
  vertical-align: middle;
  margin: 33px 55px 0px;
}
.loginParent
{
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
#signContainer
{
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  width: 300px;
  height: auto;
  top: calc(50% - 115px);
  right: calc(50% - 150px);
}
.signin_modal , .createAccnt_modal
{
  padding: 20px;
}
.formContainer
{
  padding-bottom: 20px;
  border-bottom: 1px solid #003a70;
}
.inputDiv
{
  margin: 10px 0px;
}
.inputDiv input
{
  height: 20px;
  padding-left: 5px;
  width: 80%;
}
#login_submitbtn
{
  position: relative;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #003a70;
  align-items: center;
  padding: 0px 25px;
  height: 35px;
  font-family: Lato,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 0;
  margin-top: 10px;
  cursor: pointer;
} 
.createaccnt_container , .backtoLogin
{
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  margin-top: 20px;
}
.backtoLogin
{
  text-align: center;
}
.dnttxt
{
  display: table;
  float: left;
  margin-right: 3px;
}
.createAccnt_link , .btoLogin
{
  color: #003a70;
  cursor: pointer;
}
#errordom
{
  padding: 20px 0px 15px 0px;
  color: #FF0000;
  font-size: 14px;
}
.displayNone
{
  display: none;
}
.displayBlock
{
  display: block;
}
/*Ask a Question Link*/
.QuestionParent{
  float: left;
}
.askQuestion a{
  color: white;
  text-decoration: none;
}
/*post Question Page CSS - starts*/
.cls_postQuestion{
  position: absolute;
  top: 150px;
  left: 100px;  
}
.pageTitle{
  color: black;
  font-size: 25px;
  margin-bottom: 30px;
}
.Quescontainer{
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.parentDiv{
  padding-bottom: 20px;
}
.titleDiv{
  margin-bottom: 15px;
}
.askTitle{
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}
.description{
  margin-left: 20px;
  resize: none;
}
.tagButton{
  margin-right: 10px;
  border: 1px solid #ccc;
  color: black;
}
.cls_tagButton{
  margin-left: 20px;
}
.tagInput{
  padding: 5px;
  width: 80%;
  margin-left: 20px;
}
.newTagButton{
  margin-left: 10px;
  background-color: darkgrey;
  color: black;
  border-radius: 5px;
}
.content{
  position: absolute;
  top: 85px;
  padding: 40px;
  width: 95%;
}