html , body , #root{
  width: 100%;
  height: 100%;
}
.header {
  position: fixed;
  width: 100%;
  height: 84px;
  background: #003a70;
  color: #FFF;
  z-index: 10;

}
.h-icon{
  float: left;
  margin-left: 20px;
}
.h-image-icon
{
  width: 150px;
  height: 81px;
  background-size: 0px -15px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.s-bar
{
  float: left;
  margin:24px 0px 24px 80px;
  max-width: 364px;
  width: 50%;
}
.in-search
{
  margin: 0;
  height: 36px;
  border-width: 1px;
  border-color: #c8ccd0;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: none;
  color: #3b4045;
  padding-left: 8px;
  vertical-align: middle;
  box-sizing: border-box;
}
.rightContent
{
  float: right;
  vertical-align: middle;
  margin: 33px 55px 0px 10px;
}
.loginParent
{
  float: left;
  margin-right: 10px;
  cursor: pointer;
  display: inline-flex;
}
.profile
{
  margin-left: 12px;
}
#signContainer
{
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  width: 300px;
  height: auto;
  top: calc(50% - 115px);
  right: calc(50% - 150px);
}
.signin_modal , .createAccnt_modal ,.forgotPwd_model
{
  padding: 20px;
}
.formContainer , .modal_container
{
  padding-bottom: 20px;
  border-bottom: 1px solid #003a70;
}
.inputDiv
{
  margin: 10px 0px;
}
.inputDiv input
{
  height: 20px;
  padding-left: 5px;
  width: 80%;
}
#login_submitbtn , #forgotpwd_button , #post_submitbtn , .btn-primary
{
  position: relative;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #003a70;
  align-items: center;
  padding: 0px 25px;
  height: 35px;
  font-family: Lato,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 0;
  margin-top: 10px;
  cursor: pointer;
} 
.createaccnt_container , .backtoLogin , .forgot_pwd 
{
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  margin-top: 20px;
}
.backtoLogin
{
  text-align: center;
}
.dnttxt , .forgot_pwdTxt
{
  display: table;
  float: left;
  margin-right: 3px;
}
.createAccnt_link , .btoLogin , .forgot_pwdHere
{
  color: #003a70;
  cursor: pointer;
}
.orLabel{
  margin-top: 20px;
  text-align: center;
}
#errordom
{
  padding: 20px 0px 15px 0px;
  color: #FF0000;
  font-size: 14px;
}
.displayNone
{
  display: none;
}
.displayBlock
{
  display: block;
}
/*Ask a Question Link*/
.QuestionParent{
  float: left;
}
.askQuestion a{
  color: white;
  text-decoration: none;
}

.content{
  position: absolute;
  top: 85px;
  padding: 40px 40px 65px 40px;
  width: 95%;
}
.tagsBackground
{
    float: left;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0px 1px 1px 2px #fff;
    background: #cee0ed;
    color: #33658a;
    padding: 2px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 16px;
}
.social_login_cont {
    margin-top: 20px;
}
.google_signin button {
    display: inline-block;
    padding: 0;
    height: 35px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    padding-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    text-align: center;
    background: #DD4B39;
    color: #fff;
    min-width: 96px;
    cursor: pointer;
}
.note
{
  font-size: 12px;
  display: block;
  font-family: sans-serif;
  margin-top: 5px;
  color: #003a70;
}
.footer 
{
  width: 100%;
  margin: 0px 4px;
  height: 60px;
  background: #003a70;
  position: fixed;
  bottom: 1px;
  color: #fff;
  z-index: 11;
}
.footerContent
{
  text-align: center;
  margin: 22.5px auto;
  font-size: 15px;
}
.leftcontent
{
    float: left;
    width: 70%;
}
.posFixed
{
  position:fixed;
}
.header_container {
  max-width: 1200px;
  height: 84px;
  margin: auto;
}
.homePage {
  max-width: 1200px;
  margin: auto;
}