.questContainer{
  	width: 70%;
 	float: left;
 	border-right: 2px solid #003a70;
}
.popularTagTitle{
    width:  100%;
 	float: left;
 	color: #000;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}
.questTitle{
	color: #000;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}
.ListQuestions{
	padding: 20px;
}
.ListQuestions .parentListDiv{
	box-sizing: border-box;
    border: 2px solid #808080;
    padding: 20px;
    margin-bottom: 10px;
}
.questionTag{
  width: 100%;
  display: inline-block;
}
.relatedTag{
	box-sizing: border-box;
    padding: 2px;
    margin-right: 10px;
    box-shadow: 0px 1px 1px 2px #000;
	float: left;
}
.relatedTagName{
    color: #4682b4;
    font-style: italic;
    text-decoration: underline;
    font-weight: 700;
}
.questionTitle{
    font-size: 18px;
}
.tagsName{
    float: left;
    width: 100%;
    padding-top: 15px;
}
.popularTags{
    float: left;
    width: 25%;
    padding-left: 10px;
}
.tagsBackground.tagAlign {
    margin: 10px;
}

.questionTitle , .questionDesc
{
    text-transform: capitalize;
}
.pageList {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #848d95;
    border: 1px solid #e4e6e8;
    border-radius: 3px;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
.pageList:hover, .pageList.currPage {
    color: #FFF;
    background-color: #003a70;
    border-color: transparent;
}
.paginationContainer {
    margin: 20px;
}
/* added commonly */
button.postQuestion , #post_submitbtn
{
    margin-left: 20px;
}