/*post Question Page CSS - starts*/
.pageTitle {
  color: black;
  font-size: 25px;
  margin-bottom: 30px;
}
.cls_postQuestion .pageTitle
{
  font-weight: bold;
}
.parentDiv {
  padding-bottom: 20px;
}
.titleDiv {
  margin-bottom: 15px;
  font-weight: bold;
}
.askTitle {
  padding: 5px 0px 5px 5px;
  width: calc(100% - 20px);
  margin-left: 20px;
  box-sizing: border-box;
}
.tagButton {
  margin-right: 10px;
  border: 1px solid #ccc;
  color: #39739d;
  background-color: #E1ECF4;
  border-color: #E1ECF4;
  position: relative;
  display: inline-block;
  padding: .4em .5em;
  font-size: 13px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
.deleteTag {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
  opacity: 0.3;

}
.deleteTag:before, .deleteTag:after {
  position: absolute;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #39739d;
}
.deleteTag:before {
  transform: rotate(45deg);
}
.deleteTag:after {
  transform: rotate(-45deg);
}
.deleteTag:hover{
  opacity: 1;
}
/*.cls_tagButton {
  margin-left: 20px;
}*/
.tagInput {
  padding: 5px;
  width: 80%;
  margin-left: 20px;
}
.newTagButton {
  margin-left: 10px;
  background-color: #003a70;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.description{
  margin-left: 20px;
  resize: none;
  height: 200px;
  overflow: auto;
}
.cls_postQuestion{
  width: 688px;
}
#tagList
{
  margin: 20px;
}
