/*post Question Page CSS - starts*/
.pageTitle {
  color: black;
  font-size: 25px;
  margin-bottom: 30px;
}
.cls_postQuestion .pageTitle
{
  font-weight: bold;
}
.parentDiv {
  padding-bottom: 20px;
}
.titleDiv {
  margin-bottom: 15px;
  font-weight: bold;
}
.askTitle {
  padding: 5px 0px 5px 5px;
  width: calc(100% - 20px);
  margin-left: 20px;
  box-sizing: border-box;
}
.tagButton {
  margin-right: 10px;
  border: 1px solid #ccc;
  color: black;
}
/*.cls_tagButton {
  margin-left: 20px;
}*/
.tagInput {
  padding: 5px;
  width: 80%;
  margin-left: 20px;
}
.newTagButton {
  margin-left: 10px;
  background-color: #003a70;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.description{
  margin-left: 20px;
  resize: none;
  height: 200px;
}
.cls_postQuestion{
  width: 688px;
}
#tagList
{
  margin: 20px;
}
