.pagecontainer
{
    max-width: 75%;
    float: left;
    width: 100%;
    height: 100%;
    border-right: 2px solid #003a70;
}
.qaContainer .qtitle , .qDescription
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
}
.qDescription , .qaContainer , .mainContainer
{
    width: 100%;
}
.qaContainer , .qtitlecontainer
{
    border-bottom: 1px solid #e4e6e8;
}
.rightcontent
{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.tagcontainer
{
    max-width: 22%;
    display: inline-block;
    margin-left:15px;
}
.qpageTopContainer
{
    height: 100%;
    width: 100%;
    float: left;
}   
.noOfAnswers
{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e6e8;
}
.votes
{
    display: inline;
}
.answer p , .postAns textarea
{
    margin: 0px;
}
.answer
{
    display: table;
    margin: 0px 25px;
}
.answerDesc , .qDescription, .innerContainer , .postAnswer ,.relatedtagCont ,.tagValues
{
    margin-top: 20px;
}
.answerDesc
{
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 5px solid #e4e6e8;
    width: 100%;
}
.postedInfo
{
    float:right;
    margin-right: 25px;
    font-size: 13px;
    margin-top: 13px;
    font-style: italic;
}
.postedDate
{
    margin-left: 5px;
}
.yourAns
{
    margin-bottom: 10px;
}
.qpageTopContainer .description
{
    max-width: 75%;
}
.mainContainer
{
    float: left;
}
.postedDateValues span:not(.posteDate) , .postedByValues span:not(.postedby)
{
    font-size: 13px;
}
.postedInformation
{
    font-size: 15px;
}
.loginSignup
{
    margin: 15px 0px;
    color: #FF0000;
    display: inline-block;
}
.postedby , .posteDate
{
    display: block;
    font-weight: bold;
}
.firstAnswer
{
    color: #FF0000;
}
.deleteCont
{
    margin-right: 10px;
}
.deleteCont , .commentCont
{
    margin-top: 5px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.deleteCont img , .commentCont img {
    height:20px;
}
.RichTextEditor__editor___1QqIU
{
    height: 130px;
}
.commentsContainer
{
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e4e6e8;
    -webkit-animation: slide-down .5s ease-out;
   
}   
@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateZ(-100%); }   
  100% { opacity: 1; -webkit-transform: translateZ(0); }
}

.addcommentsCont , .showCommentCont
{
    padding: 15px;
    font-size: 13px;
}
.showCommentCont
{
    padding-left: 30px;
    display: grid;
}
button.addcomment
{
    height: 30px;
    font-size: 13px;
    display: block;
}
.addCommentArea
{
    width: 80%;
    padding: 10px;
    resize: none;
    overflow: auto;
}
.contentsList
{
    display: inline-grid;
}
.comments
{
    background-color: #ededed;
    padding: 5px 0px;
    display: inline;
    margin: 5px 0px;
}
.answerContainer
{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: inherit;
}
.show 
{
    display: block !important;
}
.deleteComment
{
    height: 15px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
}
.deleteComment img
{
    height: 15px;
}
.commentPostedInfo
{
    float:right;
    padding-right: 5px;
}
.commentedUser
{
    padding-right: 5px;
    font-size: 12px;
    font-style: italic;
}